.payment {
  background-color: white;
}

.payment__container h1 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
}

.payment__container h1 a {
  text-decoration: none;
}

.payment__section {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  margin: 0px 20px;
}

.payment__sectionTitle {
  flex: 0.2;
  border-right: 1px solid lightgray;
}

.payment__sectionAddress,
.payment__sectionItems,
.payment__sectionDetails {
  flex: 0.8;
  margin-left: 5px;
}

.payment__sectionDetails form {
  max-width: 400px;
}

.payment__sectionDetails h3 {
  padding-bottom: 20px;
}

.payment__sectionDetails form div button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  font-weight: bolder;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
}
